USE [master]
GO
/****** Object:  Database [QLSV_DoAn]    Script Date: 03/11/2025 12:54:27 SA ******/
CREATE DATABASE [QLSV_DoAn]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSV_DoAn', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS03\MSSQL\DATA\QLSV_DoAn.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLSV_DoAn_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS03\MSSQL\DATA\QLSV_DoAn_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSV_DoAn].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSV_DoAn]
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 03/11/2025 12:54:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[MaKhoa] [int] IDENTITY(1,1) NOT NULL,
	[TenKhoa] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 03/11/2025 12:54:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[MaLop] [int] IDENTITY(1,1) NOT NULL,
	[TenLop] [nvarchar](100) NOT NULL,
	[MaKhoa] [int] NOT NULL,
	[MaGV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiangVien]    Script Date: 03/11/2025 12:54:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiangVien](
	[MaGV] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[GioiTinh] [bit] NULL,
	[NgaySinh] [date] NULL,
	[ChuyenNganh] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 03/11/2025 12:54:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMH] [int] IDENTITY(1,1) NOT NULL,
	[TenMH] [nvarchar](100) NOT NULL,
	[SoTC] [int] NULL,
	[MaKhoa] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 03/11/2025 12:54:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSV] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[GioiTinh] [bit] NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](200) NULL,
	[QueQuan] [nvarchar](100) NULL,
	[SDT] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[MaLop] [int] NULL,
	[NgayVaoTruong] [date] NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[CMND] [nvarchar](20) NULL,
	[DanToc] [nvarchar](50) NULL,
	[TonGiao] [nvarchar](50) NULL,
	[HocLuc] [nvarchar](20) NULL,
	[HocPhi] [float] NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocKy]    Script Date: 03/11/2025 12:54:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocKy](
	[MaHK] [int] IDENTITY(1,1) NOT NULL,
	[TenHK] [nvarchar](50) NOT NULL,
	[NamHoc] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangKyHoc]    Script Date: 03/11/2025 12:54:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKyHoc](
	[MaSV] [int] NOT NULL,
	[MaMH] [int] NOT NULL,
	[MaHK] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC,
	[MaMH] ASC,
	[MaHK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diem]    Script Date: 03/11/2025 12:54:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diem](
	[MaSV] [int] NOT NULL,
	[MaMH] [int] NOT NULL,
	[DiemQT] [float] NULL,
	[DiemCK] [float] NULL,
	[DiemTong] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC,
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 03/11/2025 12:54:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTK] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[LoaiTK] [nvarchar](20) NOT NULL,
	[MaSV] [int] NULL,
	[MaGV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quyen]    Script Date: 03/11/2025 12:54:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quyen](
	[MaQuyen] [int] IDENTITY(1,1) NOT NULL,
	[TenQuyen] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan_Quyen]    Script Date: 03/11/2025 12:54:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan_Quyen](
	[MaTK] [int] NOT NULL,
	[MaQuyen] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC,
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongBao]    Script Date: 03/11/2025 12:54:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBao](
	[MaTB] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](100) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[NgayTB] [datetime] NULL,
	[MaLop] [int] NULL,
	[MaTK] [int] NULL,
	[MaSV] [int] NULL,
	[Lop_MaLop] [int] NULL,
	[TaiKhoan_MaTK] [int] NULL,
	[MaGV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogHoatDong]    Script Date: 03/11/2025 12:54:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogHoatDong](
	[MaLog] [int] IDENTITY(1,1) NOT NULL,
	[MaTK] [int] NOT NULL,
	[ThoiGian] [datetime] NULL,
	[HanhDong] [nvarchar](255) NULL,
	[BangLienQuan] [nvarchar](50) NULL,
	[MaLienQuan] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_QuanLySinhVien]    Script Date: 03/11/2025 12:54:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_QuanLySinhVien] AS
SELECT 
    sv.MaSV, sv.HoTen AS TenSV, sv.GioiTinh, sv.NgaySinh, sv.Email AS EmailSV,
    l.TenLop, k.TenKhoa,
    gv.MaGV, gv.HoTen AS TenGV, gv.ChuyenNganh,
    mh.MaMH, mh.TenMH, mh.SoTC,
    hk.MaHK, hk.TenHK, hk.NamHoc,
    d.DiemQT, d.DiemCK, d.DiemTong,
    tk.MaTK, tk.Username, tk.LoaiTK,
    q.TenQuyen,
    tb.MaTB, tb.TieuDe AS TieuDeTB, tb.NoiDung AS NoiDungTB, tb.NgayTB,
    log.MaLog, log.HanhDong AS HanhDongLog, log.ThoiGian AS ThoiGianLog
FROM SinhVien sv
LEFT JOIN Lop l ON sv.MaLop = l.MaLop
LEFT JOIN Khoa k ON l.MaKhoa = k.MaKhoa
LEFT JOIN DangKyHoc dk ON sv.MaSV = dk.MaSV
LEFT JOIN MonHoc mh ON dk.MaMH = mh.MaMH
LEFT JOIN HocKy hk ON dk.MaHK = hk.MaHK
LEFT JOIN Diem d ON sv.MaSV = d.MaSV AND mh.MaMH = d.MaMH
LEFT JOIN TaiKhoan tk ON sv.MaSV = tk.MaSV
LEFT JOIN TaiKhoan_Quyen tkq ON tk.MaTK = tkq.MaTK
LEFT JOIN Quyen q ON tkq.MaQuyen = q.MaQuyen
LEFT JOIN ThongBao tb ON sv.MaLop = tb.MaLop OR tk.MaTK = tb.MaTK
LEFT JOIN LogHoatDong log ON tk.MaTK = log.MaTK
LEFT JOIN GiangVien gv ON mh.MaMH = gv.MaGV; -- tạm join GV theo môn học nếu muốn
GO
/****** Object:  Table [dbo].[LichHoc]    Script Date: 03/11/2025 12:54:28 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichHoc](
	[MaLop] [int] NOT NULL,
	[MaMH] [int] NOT NULL,
	[MaGV] [int] NOT NULL,
	[MaHK] [int] NOT NULL,
	[Thu] [nvarchar](10) NOT NULL,
	[TietBatDau] [int] NOT NULL,
	[SoTiet] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC,
	[MaMH] ASC,
	[MaHK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DangKyHoc] ([MaSV], [MaMH], [MaHK]) VALUES (1, 2, 1)
INSERT [dbo].[DangKyHoc] ([MaSV], [MaMH], [MaHK]) VALUES (1, 3, 1)
INSERT [dbo].[DangKyHoc] ([MaSV], [MaMH], [MaHK]) VALUES (1, 4, 1)
GO
INSERT [dbo].[Diem] ([MaSV], [MaMH], [DiemQT], [DiemCK], [DiemTong]) VALUES (1, 2, 7.5, 8, 7.8)
INSERT [dbo].[Diem] ([MaSV], [MaMH], [DiemQT], [DiemCK], [DiemTong]) VALUES (1, 3, 6.5, 7, 6.8)
INSERT [dbo].[Diem] ([MaSV], [MaMH], [DiemQT], [DiemCK], [DiemTong]) VALUES (2, 2, 8, 8.5, 8.2)
GO
SET IDENTITY_INSERT [dbo].[GiangVien] ON 

INSERT [dbo].[GiangVien] ([MaGV], [HoTen], [GioiTinh], [NgaySinh], [ChuyenNganh], [DiaChi], [Email]) VALUES (1, N'Nguy?n Van A', 1, CAST(N'1980-05-10' AS Date), N'CNTT', N'Hà N?i', N'nga@example.com')
INSERT [dbo].[GiangVien] ([MaGV], [HoTen], [GioiTinh], [NgaySinh], [ChuyenNganh], [DiaChi], [Email]) VALUES (2, N'Tr?n Th? B', 0, CAST(N'1982-08-20' AS Date), N'Ði?n t?', N'H?i Phòng', N'ttb@example.com')
INSERT [dbo].[GiangVien] ([MaGV], [HoTen], [GioiTinh], [NgaySinh], [ChuyenNganh], [DiaChi], [Email]) VALUES (3, N'Lê Van C', 1, CAST(N'1978-11-15' AS Date), N'Kinh t?', N'Hà N?i', N'lvc@example.com')
SET IDENTITY_INSERT [dbo].[GiangVien] OFF
GO
SET IDENTITY_INSERT [dbo].[HocKy] ON 

INSERT [dbo].[HocKy] ([MaHK], [TenHK], [NamHoc]) VALUES (1, N'HK1', N'2025-2026')
INSERT [dbo].[HocKy] ([MaHK], [TenHK], [NamHoc]) VALUES (2, N'HK2', N'2025-2026')
INSERT [dbo].[HocKy] ([MaHK], [TenHK], [NamHoc]) VALUES (3, N'HK3', N'2025-2026')
SET IDENTITY_INSERT [dbo].[HocKy] OFF
GO
SET IDENTITY_INSERT [dbo].[Khoa] ON 

INSERT [dbo].[Khoa] ([MaKhoa], [TenKhoa]) VALUES (1, N'Công ngh? thông tin')
INSERT [dbo].[Khoa] ([MaKhoa], [TenKhoa]) VALUES (2, N'Ði?n t? vi?n thông')
INSERT [dbo].[Khoa] ([MaKhoa], [TenKhoa]) VALUES (3, N'Kinh t?')
SET IDENTITY_INSERT [dbo].[Khoa] OFF
GO
INSERT [dbo].[LichHoc] ([MaLop], [MaMH], [MaGV], [MaHK], [Thu], [TietBatDau], [SoTiet]) VALUES (1, 2, 1, 1, N'Th? 2', 1, 3)
INSERT [dbo].[LichHoc] ([MaLop], [MaMH], [MaGV], [MaHK], [Thu], [TietBatDau], [SoTiet]) VALUES (1, 3, 1, 1, N'Th? 3', 4, 2)
INSERT [dbo].[LichHoc] ([MaLop], [MaMH], [MaGV], [MaHK], [Thu], [TietBatDau], [SoTiet]) VALUES (2, 4, 2, 1, N'Th? 4', 5, 2)
GO
SET IDENTITY_INSERT [dbo].[LogHoatDong] ON 

INSERT [dbo].[LogHoatDong] ([MaLog], [MaTK], [ThoiGian], [HanhDong], [BangLienQuan], [MaLienQuan]) VALUES (1, 1, CAST(N'2025-10-29T15:47:09.023' AS DateTime), N'Thêm sinh viên', N'SinhVien', 1)
INSERT [dbo].[LogHoatDong] ([MaLog], [MaTK], [ThoiGian], [HanhDong], [BangLienQuan], [MaLienQuan]) VALUES (2, 2, CAST(N'2025-10-29T15:47:09.023' AS DateTime), N'C?p nh?t di?m', N'Diem', 1)
INSERT [dbo].[LogHoatDong] ([MaLog], [MaTK], [ThoiGian], [HanhDong], [BangLienQuan], [MaLienQuan]) VALUES (3, 4, CAST(N'2025-10-29T15:47:09.023' AS DateTime), N'Xem di?m', N'Diem', 1)
SET IDENTITY_INSERT [dbo].[LogHoatDong] OFF
GO
SET IDENTITY_INSERT [dbo].[Lop] ON 

INSERT [dbo].[Lop] ([MaLop], [TenLop], [MaKhoa], [MaGV]) VALUES (1, N'CTK38', 1, 1)
INSERT [dbo].[Lop] ([MaLop], [TenLop], [MaKhoa], [MaGV]) VALUES (2, N'CTK39', 1, 1)
INSERT [dbo].[Lop] ([MaLop], [TenLop], [MaKhoa], [MaGV]) VALUES (3, N'DTVT38', 2, 2)
SET IDENTITY_INSERT [dbo].[Lop] OFF
GO
SET IDENTITY_INSERT [dbo].[MonHoc] ON 

INSERT [dbo].[MonHoc] ([MaMH], [TenMH], [SoTC], [MaKhoa]) VALUES (1, N'Toán cao c?p', 3, 1)
INSERT [dbo].[MonHoc] ([MaMH], [TenMH], [SoTC], [MaKhoa]) VALUES (2, N'L?p trình C#', 4, 1)
INSERT [dbo].[MonHoc] ([MaMH], [TenMH], [SoTC], [MaKhoa]) VALUES (3, N'Co s? d? li?u', 3, 1)
SET IDENTITY_INSERT [dbo].[MonHoc] OFF
GO
SET IDENTITY_INSERT [dbo].[Quyen] ON 

INSERT [dbo].[Quyen] ([MaQuyen], [TenQuyen]) VALUES (1, N'Xem')
INSERT [dbo].[Quyen] ([MaQuyen], [TenQuyen]) VALUES (2, N'Them')
INSERT [dbo].[Quyen] ([MaQuyen], [TenQuyen]) VALUES (3, N'Sua')
SET IDENTITY_INSERT [dbo].[Quyen] OFF
GO
SET IDENTITY_INSERT [dbo].[SinhVien] ON 

INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [GioiTinh], [NgaySinh], [DiaChi], [QueQuan], [SDT], [Email], [MaLop], [NgayVaoTruong], [HinhAnh], [CMND], [DanToc], [TonGiao], [HocLuc], [HocPhi], [TrangThai]) VALUES (1, N'Nguy?n Thị 1', 0, CAST(N'2025-10-29' AS Date), N'Hà N?i', N'Hà N?i', N'0901000001', N'sv1@example.com', 1, CAST(N'2021-09-01' AS Date), N'sv1.webp', N'001', N'Kinh', N'Không', N'Khá', 10000000, 1)
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [GioiTinh], [NgaySinh], [DiaChi], [QueQuan], [SDT], [Email], [MaLop], [NgayVaoTruong], [HinhAnh], [CMND], [DanToc], [TonGiao], [HocLuc], [HocPhi], [TrangThai]) VALUES (2, N'Nguy?n Van 2', 1, CAST(N'2003-02-02' AS Date), N'Hà N?i', N'Hà N?i', N'0901000002', N'sv2@example.com', 1, CAST(N'2021-09-01' AS Date), N'sv2.jpg', N'002', N'Kinh', N'Không', N'Gi?i', 10000000, 1)
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [GioiTinh], [NgaySinh], [DiaChi], [QueQuan], [SDT], [Email], [MaLop], [NgayVaoTruong], [HinhAnh], [CMND], [DanToc], [TonGiao], [HocLuc], [HocPhi], [TrangThai]) VALUES (3, N'Tr?n Th? 3', 0, CAST(N'2003-03-03' AS Date), N'H?i Phòng', N'H?i Phòng', N'0901000003', N'sv3@example.com', 2, CAST(N'2021-09-01' AS Date), N'Images/sv3.jpg', N'003', N'Kinh', N'Không', N'TB', 10000000, 1)
SET IDENTITY_INSERT [dbo].[SinhVien] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([MaTK], [Username], [Password], [LoaiTK], [MaSV], [MaGV]) VALUES (1, N'admin', N'admin123', N'Admin', NULL, NULL)
INSERT [dbo].[TaiKhoan] ([MaTK], [Username], [Password], [LoaiTK], [MaSV], [MaGV]) VALUES (2, N'gv1', N'123', N'GiangVien', NULL, 1)
INSERT [dbo].[TaiKhoan] ([MaTK], [Username], [Password], [LoaiTK], [MaSV], [MaGV]) VALUES (3, N'gv2', N'123', N'GiangVien', NULL, 2)
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
INSERT [dbo].[TaiKhoan_Quyen] ([MaTK], [MaQuyen]) VALUES (1, 1)
INSERT [dbo].[TaiKhoan_Quyen] ([MaTK], [MaQuyen]) VALUES (1, 2)
INSERT [dbo].[TaiKhoan_Quyen] ([MaTK], [MaQuyen]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[ThongBao] ON 

INSERT [dbo].[ThongBao] ([MaTB], [TieuDe], [NoiDung], [NgayTB], [MaLop], [MaTK], [MaSV], [Lop_MaLop], [TaiKhoan_MaTK], [MaGV]) VALUES (1, N'Thông báo h?c phí', N'Sinh viên vui lòng n?p h?c phí tru?c 30/10', CAST(N'2025-10-29T15:47:01.200' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ThongBao] ([MaTB], [TieuDe], [NoiDung], [NgayTB], [MaLop], [MaTK], [MaSV], [Lop_MaLop], [TaiKhoan_MaTK], [MaGV]) VALUES (2, N'L?ch thi', N'L?ch thi môn C#', CAST(N'2025-10-29T15:47:01.200' AS DateTime), 1, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ThongBao] ([MaTB], [TieuDe], [NoiDung], [NgayTB], [MaLop], [MaTK], [MaSV], [Lop_MaLop], [TaiKhoan_MaTK], [MaGV]) VALUES (3, N'Thông báo riêng', N'B?n c?n b? sung h? so', CAST(N'2025-10-29T15:47:01.200' AS DateTime), NULL, 4, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ThongBao] OFF
GO
ALTER TABLE [dbo].[DangKyHoc]  WITH CHECK ADD FOREIGN KEY([MaHK])
REFERENCES [dbo].[HocKy] ([MaHK])
GO
ALTER TABLE [dbo].[DangKyHoc]  WITH CHECK ADD FOREIGN KEY([MaMH])
REFERENCES [dbo].[MonHoc] ([MaMH])
GO
ALTER TABLE [dbo].[DangKyHoc]  WITH CHECK ADD FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD FOREIGN KEY([MaMH])
REFERENCES [dbo].[MonHoc] ([MaMH])
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
GO
ALTER TABLE [dbo].[LichHoc]  WITH CHECK ADD FOREIGN KEY([MaGV])
REFERENCES [dbo].[GiangVien] ([MaGV])
GO
ALTER TABLE [dbo].[LichHoc]  WITH CHECK ADD FOREIGN KEY([MaHK])
REFERENCES [dbo].[HocKy] ([MaHK])
GO
ALTER TABLE [dbo].[LichHoc]  WITH CHECK ADD FOREIGN KEY([MaLop])
REFERENCES [dbo].[Lop] ([MaLop])
GO
ALTER TABLE [dbo].[LichHoc]  WITH CHECK ADD FOREIGN KEY([MaMH])
REFERENCES [dbo].[MonHoc] ([MaMH])
GO
ALTER TABLE [dbo].[LogHoatDong]  WITH CHECK ADD FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD  CONSTRAINT [FK_Lop_GiangVien] FOREIGN KEY([MaGV])
REFERENCES [dbo].[GiangVien] ([MaGV])
GO
ALTER TABLE [dbo].[Lop] CHECK CONSTRAINT [FK_Lop_GiangVien]
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD  CONSTRAINT [FK_MonHoc_Khoa] FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[MonHoc] CHECK CONSTRAINT [FK_MonHoc_Khoa]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD FOREIGN KEY([MaLop])
REFERENCES [dbo].[Lop] ([MaLop])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([MaGV])
REFERENCES [dbo].[GiangVien] ([MaGV])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
GO
ALTER TABLE [dbo].[TaiKhoan_Quyen]  WITH CHECK ADD FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[Quyen] ([MaQuyen])
GO
ALTER TABLE [dbo].[TaiKhoan_Quyen]  WITH CHECK ADD FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[ThongBao]  WITH CHECK ADD FOREIGN KEY([MaLop])
REFERENCES [dbo].[Lop] ([MaLop])
GO
ALTER TABLE [dbo].[ThongBao]  WITH CHECK ADD FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[ThongBao]  WITH CHECK ADD  CONSTRAINT [FK_ThongBao_GiangVien] FOREIGN KEY([MaGV])
REFERENCES [dbo].[GiangVien] ([MaGV])
GO
ALTER TABLE [dbo].[ThongBao] CHECK CONSTRAINT [FK_ThongBao_GiangVien]
GO
USE [master]
GO
