USE [master]
GO
/****** Object:  Database [quanlysinhvien]    Script Date: 01/11/2025 8:23:46 CH ******/
CREATE DATABASE [quanlysinhvien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'quanlysinhvien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS03\MSSQL\DATA\quanlysinhvien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'quanlysinhvien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS03\MSSQL\DATA\quanlysinhvien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [quanlysinhvien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [quanlysinhvien]
GO
/****** Object:  Table [dbo].[diem]    Script Date: 01/11/2025 8:23:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[diem](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[masv] [nvarchar](20) NOT NULL,
	[mamh] [int] NOT NULL,
	[diemqt] [float] NULL,
	[diemck] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[giangvien_lop]    Script Date: 01/11/2025 8:23:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[giangvien_lop](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[magv] [int] NOT NULL,
	[malop] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khoa]    Script Date: 01/11/2025 8:23:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khoa](
	[makhoa] [int] NOT NULL,
	[tenkhoa] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[makhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lop]    Script Date: 01/11/2025 8:23:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lop](
	[malop] [int] NOT NULL,
	[tenlop] [nvarchar](100) NOT NULL,
	[makhoa] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[malop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[monhoc]    Script Date: 01/11/2025 8:23:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[monhoc](
	[mamh] [int] NOT NULL,
	[tenmh] [nvarchar](150) NOT NULL,
	[sotinchi] [int] NULL,
	[makhoa] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[mamh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sinhvien]    Script Date: 01/11/2025 8:23:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sinhvien](
	[masv] [nvarchar](20) NOT NULL,
	[tensv] [nvarchar](100) NOT NULL,
	[ngaysinh] [date] NULL,
	[malop] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[masv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[taikhoan]    Script Date: 01/11/2025 8:23:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[taikhoan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tendangnhap] [nvarchar](50) NOT NULL,
	[matkhau] [nvarchar](100) NOT NULL,
	[hoten] [nvarchar](100) NULL,
	[vaitro] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[giangvien_lop] ON 

INSERT [dbo].[giangvien_lop] ([id], [magv], [malop]) VALUES (1, 2, 101)
INSERT [dbo].[giangvien_lop] ([id], [magv], [malop]) VALUES (2, 2, 102)
SET IDENTITY_INSERT [dbo].[giangvien_lop] OFF
GO
INSERT [dbo].[khoa] ([makhoa], [tenkhoa]) VALUES (1, N'Công ngh? thông tin')
INSERT [dbo].[khoa] ([makhoa], [tenkhoa]) VALUES (2, N'Kinh t?')
INSERT [dbo].[khoa] ([makhoa], [tenkhoa]) VALUES (3, N'Ði?n – Ði?n t?')
GO
INSERT [dbo].[lop] ([malop], [tenlop], [makhoa]) VALUES (101, N'CTK38', 1)
INSERT [dbo].[lop] ([malop], [tenlop], [makhoa]) VALUES (102, N'CTK39', 1)
INSERT [dbo].[lop] ([malop], [tenlop], [makhoa]) VALUES (103, N'CTK40', 1)
GO
INSERT [dbo].[monhoc] ([mamh], [tenmh], [sotinchi], [makhoa]) VALUES (1, N'L?p trình C#', 3, 1)
INSERT [dbo].[monhoc] ([mamh], [tenmh], [sotinchi], [makhoa]) VALUES (2, N'C?u trúc d? li?u', 3, 1)
INSERT [dbo].[monhoc] ([mamh], [tenmh], [sotinchi], [makhoa]) VALUES (3, N'Co s? d? li?u', 3, 1)
GO
INSERT [dbo].[sinhvien] ([masv], [tensv], [ngaysinh], [malop]) VALUES (N'SV001', N'Nguy?n Van A', CAST(N'2002-05-12' AS Date), 101)
INSERT [dbo].[sinhvien] ([masv], [tensv], [ngaysinh], [malop]) VALUES (N'SV002', N'Tr?n Th? B', CAST(N'2002-08-20' AS Date), 101)
INSERT [dbo].[sinhvien] ([masv], [tensv], [ngaysinh], [malop]) VALUES (N'SV003', N'Lê Van C', CAST(N'2002-11-01' AS Date), 102)
GO
SET IDENTITY_INSERT [dbo].[taikhoan] ON 

INSERT [dbo].[taikhoan] ([id], [tendangnhap], [matkhau], [hoten], [vaitro]) VALUES (1, N'admin', N'123', N'Quản trị viên', N'Admin')
INSERT [dbo].[taikhoan] ([id], [tendangnhap], [matkhau], [hoten], [vaitro]) VALUES (2, N'GV001', N'123', N'Nguyễn Văn Giảng', N'GiangVien')
INSERT [dbo].[taikhoan] ([id], [tendangnhap], [matkhau], [hoten], [vaitro]) VALUES (3, N'SV001', N'123', N'Nguyễn Văn A', N'SinhVien')
SET IDENTITY_INSERT [dbo].[taikhoan] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__taikhoan__CE900A1E0BD35EE9]    Script Date: 01/11/2025 8:23:47 CH ******/
ALTER TABLE [dbo].[taikhoan] ADD UNIQUE NONCLUSTERED 
(
	[tendangnhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[taikhoan] ADD  DEFAULT ('SinhVien') FOR [vaitro]
GO
ALTER TABLE [dbo].[diem]  WITH CHECK ADD FOREIGN KEY([mamh])
REFERENCES [dbo].[monhoc] ([mamh])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[diem]  WITH CHECK ADD FOREIGN KEY([masv])
REFERENCES [dbo].[sinhvien] ([masv])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[giangvien_lop]  WITH CHECK ADD FOREIGN KEY([magv])
REFERENCES [dbo].[taikhoan] ([id])
GO
ALTER TABLE [dbo].[giangvien_lop]  WITH CHECK ADD FOREIGN KEY([malop])
REFERENCES [dbo].[lop] ([malop])
GO
ALTER TABLE [dbo].[lop]  WITH CHECK ADD FOREIGN KEY([makhoa])
REFERENCES [dbo].[khoa] ([makhoa])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[monhoc]  WITH CHECK ADD  CONSTRAINT [FK_monhoc_khoa] FOREIGN KEY([makhoa])
REFERENCES [dbo].[khoa] ([makhoa])
GO
ALTER TABLE [dbo].[monhoc] CHECK CONSTRAINT [FK_monhoc_khoa]
GO
ALTER TABLE [dbo].[sinhvien]  WITH CHECK ADD FOREIGN KEY([malop])
REFERENCES [dbo].[lop] ([malop])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[diem]  WITH CHECK ADD CHECK  (([diemck]>=(0) AND [diemck]<=(10)))
GO
ALTER TABLE [dbo].[diem]  WITH CHECK ADD CHECK  (([diemqt]>=(0) AND [diemqt]<=(10)))
GO
ALTER TABLE [dbo].[monhoc]  WITH CHECK ADD CHECK  (([sotinchi]>=(0)))
GO
ALTER TABLE [dbo].[taikhoan]  WITH CHECK ADD CHECK  (([vaitro]='SinhVien' OR [vaitro]='GiangVien' OR [vaitro]='Admin'))
GO
USE [master]
GO
